<!-- begin footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="footer__top">{% include section-gallery.html %}</div>

        <div class="footer__inner">
          <div class="row">
            {% include footer-widgets/widget-info.html %} {% include
            footer-widgets/widget-recent-posts.html %}
          </div>
        </div>

        <div class="footer__info">
          {% include footer-widgets/widget-theme.html %}
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->
