.columns {

}

.card--border-top {
    border-top: solid 15px #b93030cf;
}

.card--border-left {
    border-left: solid 15px #b93030cf;
}

.card {
    margin: 0 15px;
    display: flex;
    background: var(--background-alt-color-2);
    border-radius: 10% 10% 2% 2%;
    padding: 20px;

    .card-title {
        text-align: center;
    }
}
