---
layout: default
---

<!-- begin page -->
<!-- Timeline Section -->
<section id="resume" class="timeline-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="page__head">
          <div class="page__info">
            <h1 class="page__title">{{page.headline}}</h1>
            <p class="page__subtitle">{{page.description}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img
                class="img-circle img-responsive rounded-circle"
                src="/images/about/digital-nomad.svg"
                alt=""
              />
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2021-2025</h4>
                <h4 class="subheading">Backend Engineer - Lendo AB</h4>
                <p class="subheading">Stockholm - Sweden</p>
                <p class="subheading">
                  <a
                    href="#collapseOne"
                    data-toggle="collapse"
                    data-toggle="collapse"
                    data-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    Details...
                  </a>
                </p>
              </div>
              <div class="timeline-body" id="accordion">
                <div id="headingOne"></div>

                <div
                  id="collapseOne"
                  class="collapse show"
                  aria-labelledby="headingOne"
                  data-parent="#accordion"
                >
                  <div class="card-body">
                    <ul>
                      <li>
                        Designed and maintained a scalable microservices
                        platform with
                        <strong
                          >GoLang, Kubernetes, GCP, RabbitMQ and
                          PostgreSQL.</strong
                        >
                      </li>
                      <li>
                        Collaborated in a
                        <strong>cloud migration</strong> from CityNetwork to
                        Google Cloud Platform (GCP), improving performance and
                        deployment efficiency.
                      </li>
                      <li>
                        Enhanced observability with
                        <strong>Prometheus and Grafana</strong>, reducing issue
                        resolution time.
                      </li>
                      <li>
                        <strong>Team Lead of Bank Partner Integrations</strong>,
                        leading the design and implementation of secure,
                        scalable integrations with external bank partners.
                      </li>
                      <li>
                        Actively contributed to engineering excellence through
                        <strong
                          >code reviews, pair programming, and mentoring</strong
                        >
                        junior developers.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img
                class="img-circle img-responsive rounded-circle"
                src="/images/about/2.jpg"
                alt=""
              />
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>March 2011</h4>
                <h4 class="subheading">An Agency is Born</h4>
              </div>
              <div class="timeline-body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
                  ut voluptatum eius sapiente, totam reiciendis temporibus qui
                  quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                  dolore laudantium consectetur!
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img
                class="img-circle img-responsive rounded-circle"
                src="/images/about/3.jpg"
                alt=""
              />
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>December 2012</h4>
                <h4 class="subheading">Transition to Full Service</h4>
              </div>
              <div class="timeline-body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
                  ut voluptatum eius sapiente, totam reiciendis temporibus qui
                  quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                  dolore laudantium consectetur!
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img
                class="img-circle img-responsive rounded-circle"
                src="/images/about/4.jpg"
                alt=""
              />
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>July 2014</h4>
                <h4 class="subheading">Phase Two Expansion</h4>
              </div>
              <div class="timeline-body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
                  ut voluptatum eius sapiente, totam reiciendis temporibus qui
                  quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                  dolore laudantium consectetur!
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img
                class="img-circle img-responsive rounded-circle"
                src="/images/about/student-with-diploma.svg"
                alt=""
              />
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- end page -->
